.header {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 5px solid gold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Satisfy", sans-serif;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 40px;
  color:white;
  background-color: black;

}

.Headertitle {
  font-size: 6em;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.subtext {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.arrow {
  position: absolute;
  bottom: 10%;
  right: 49%;
}

#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill:white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}

polygon {
  fill: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}
