.header {
    text-align: center;
    background-image:url("../../Assets/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 50px;
    font-family: Calligraffitti;
    font-style: italic;
    font-weight: bold;  
    padding: 250px;
  }

