.header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Satisfy", sans-serif;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color:white;
  /* background-image: linear-gradient(-222deg,black, white); */
  padding:30px;
  color:#fff;
  background-image: url("./../../Assets/coverpro.jpg");
 


  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Headertitle {
  font-size: 6em;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  background-color: white; /* Fallback color */
  background-color: rgba(255,255,255, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

}

.subtext {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.arrow {
  position: absolute;
  bottom: 10%;
  left: 47%;
}

#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}

polygon {
  fill: white;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}

@media (max-width: 989px) {
  .header{
    background-image: url("./../../Assets/coverpro2.jpg");
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
