.AdminPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Admin-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
}
.Centercontent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
}
.Admin-container div{
    padding: 10px;
}
.separador{
    margin-left:100px;
}
