.flex-login{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    height: 100%;
    width: 100%;
}
.login-title{
    font-family: "Satisfy", sans-serif;
    font-size: 1.8em;
    margin: 1em 0;
}
.inputemail{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
       
}

.flex-login div{
    padding: 30px;
}

.Submit-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    width: 100px;
    padding: 10px;
    background-color: white;
}




