.ServicesSpace{
    margin-left:400px;
}

.ServicesTitle{
    font-family: "Satisfy", sans-serif;
}
.Services-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.Services-title div{
    padding: 50px;
}