.container{
    display:flex;
    flex-direction: row;
    font-family: Calligraffitti;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
.container div{
  
    padding: 10px;

}
.box1{
    
}
.box2{
  

}