.ServicesSpace{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Services-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.Services-title div{
    padding: 50px;
}
.servicePost-containt{
  text-align: center;
    display: flex;
    flex-wrap: wrap;

    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color:white;
    /* background-image: linear-gradient(-222deg,black, white); */
    padding:30px;
    color:#fff;
    background-image: url("./../../../Assets/coverpro2.jpg");
     /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .servicePost-containt{
    margin-bottom: 40px;
  }

  
  .labels{
      padding: 40px;
  }
  .labels input{
    margin: 10px;
    height: 80%;
    width: 100%;
}
  
  .submit-service{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #eb3941,
      #f15e64,
      #e14e53,
      #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  }

  .submit-service:hover{
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .formDetails{
    font-size: 1.3em;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    background-color: white; /* Fallback color */
    background-color: rgba(255,255,255, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.inputService{
  color: black;
  background-color: grey;
}
@media (max-width: 1089px) {
  .formDetails{
    font-size: 1.3em;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    background-color: white; /* Fallback color */
    background-color: rgba(255,255,255, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .servicePost-containt{
    text-align: center;
      display: flex;
      flex-wrap: wrap;
  
      height: 900px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      color:white;
      /* background-image: linear-gradient(-222deg,black, white); */
      padding:30px;
      color:#fff;
      background-image: url("./../../../Assets/coverpro2.jpg");
       /* Set a specific height */
    min-height: 800px; 
  
    /* Create the parallax scrolling effect */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    }
    .labels{
      padding: 10px;
  }
}
