.TableServices{
    height: 100px;
    width:600px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.TableServices div{
    padding: 40px;
}
.Servicio{
   
    font-family: "Satisfy", sans-serif;
}
.Precio{

    font-family: "Satisfy", sans-serif;
}
.Duracion{

    font-family: "Satisfy", sans-serif;
}