.container-about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
 
}
.about-title1 {
  text-align: center;
  font-family: "Satisfy", sans-serif;
  font-size: 4em;
  margin: 1em 0;
}
.about-title2 {
  font-family: "Satisfy", sans-serif;
  font-size: 1.8em;
  margin: 1em 0;
  text-align: center;

}
.container div {
  padding: 20px;
}
.about-caja1{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

}
.about-caja1 img{
   height: 50%;
  
}
.about-list{
  padding: 10px;
  text-align: center;
}