.container-about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px;
}
.about-title1 {
  text-align: center;
  font-family: "Satisfy", sans-serif;
  font-size: 4em;
  margin: 1em 0;
}
.about-title2 {
  font-family: "Satisfy", sans-serif;
  font-size: 1.8em;
  margin: 1em 0;
  text-align: justify;

}
.container div {
  padding: 10px;
}
.about-caja1{
 display: flex;
 flex-direction: row;
 justify-content: center;

}
.SideAbout{
  width: 90%
}
.logoAbout{
   height: 50%;
   border-radius: 50%;
 
}

.about-caja1 div{
  padding: 10px;
}
.about-list{
  padding: 10px;
  text-align: center;
}