.container {
  display: flex;
  flex-direction: row;
}
.about-title {
  font-family: "Satisfy", sans-serif;
  font-size: 1.8em;
}
.container div {
  padding: 10px;

}

.box1 {
}
.box2 {
}

.box3 {
  display: flex;
  flex-direction: row;
}
.about-list{
  text-align: left;
  padding: 10px;
  width: 270px;
}