* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.contact-header {
  text-align: center;
  font-family: "Satisfy", sans-serif;
  font-size: 4em;
  margin: 1em 0;
}
.container div {
  padding: 10px;
}




@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

