body {
    font-family: Calligraffitti;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
label {
    font-weight: bold;
    font-size: 16px;
  }
  
  #submit_button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  #submit_button:hover{
    background-color: #45a049;
  }
  .Main{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .container{
    display:flex;
    flex-direction: row;
    font-family: Calligraffitti;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
.container div{
  
    padding: 10px;

}
.box1{
    
}
.box2{
  

}
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }