.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: "Satisfy", sans-serif;
  font-size: 2em;
  color: black;
  margin: 0 30px;
}
.nav-logo:hover {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  /* float: right; */
}

li a {
  display: block;
  padding: 75px;
  color: black;
}
.login-separator{
  margin-left: 350px;
}
