.main-navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: fixed;
	width: 100%;
	z-index: 9999;
	
}
* {
	box-sizing: border-box;
}
.nav-logo {
  font-family: "Satisfy", sans-serif;
  font-size: 2em;
  color: black;
  margin-right: 30px;
}
.nav-logo:hover {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
  font-size: 17px;
}


li a {
  display: block;
  padding: 75px;
  color: black;
}
.nav-link:hover{

  font-size: 120%;
}
