.DatesView{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.DatesView div{
    padding: 10px;
}
.user-container{
 
    display: flex;
    flex-direction:column;
    justify-content:left;
    flex-wrap: wrap;
}
.hello p{
    text-align: center;
}