.Employee-header{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: "Satisfy", sans-serif;
}
.Employee-header div{
    padding: 30px;
}
