.flex-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    margin: 30px;
    color: white;
}
.inputemail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
       
}

.flex div{
    padding: 30px;
}
.cajon1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cajon3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.Submit-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    width: 100px;
    padding: 10px;
}