.flex-login{
    display:flex;
    flex-direction: row;
    background-color: black;
    margin: 30px;
    color: white;
    align-content: center;
}

.flex div{
    padding: 30px;
}
.cajon1{

}
.cajon2{

}
.cajon3{
    display:flex;
    flex-direction: row;
    margin: 30px;
    
}
.toggle{
    margin-left: 20px;
}
.Submit-login{
    text-align: center;
    padding: 10px;
}