.SingUp-containt{
    display: flex;
  flex-direction: row;
  flex-direction: column;
  display: block;

}

.labels{
    padding: 30px;
}

.submit-sigup{
  margin-top: 25px;
  text-align: center;
  height: 70px;
  width: 100px;
  padding: 10px;
}