.SingUp-containt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;



}

.labels{
    padding: 30px;
}

.submit-signup{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 70px;
  width: 100px;
  padding: 10px;
}