.SelectView{
   
    margin-left: 200px;
    margin-right: 190px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;

}

.SelectView2{
    
    margin-left: 215px;
    margin-right: 190px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
}