.SelectView{
   
    margin-left: 200px;
    margin-right: 190px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
  

}

.SelectView2{
    
    margin-left: 225px;
    margin-right: 190px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
   
}
.SelectContainer{
      flex-direction: row;
    font-size: 20px;
    text-align: center;
}