.SelectView2{

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  
}

.SelectContainer{
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.SelectContainer div{
    padding: 15px;
}
.submitCita{
    width: 40%;
    height: 50%;
}