.Title-user{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
   
}

.Title-user div{
   padding: 35px;
}

.divUserTitle h1{
    font-size: 70px;
    font-family: "Satisfy", sans-serif;
}
.hello h1{
    font-size: 60px;
    font-family: "Satisfy", sans-serif;
}