.Title-user{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-family: "Satisfy", sans-serif;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color:white;
    /* background-image: linear-gradient(-222deg,black, white); */
    padding:30px;
    color:#fff;
    background-image: url("./../../Assets/coverpro.jpg");
     /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Title-user div{
   padding: 35px;
}

.divUserTitle h1{
    font-size: 6em;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    background-color: white; /* Fallback color */
    background-color: rgba(255,255,255, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  
}
.hello h1{
    font-size: 60px;
    text-align: center;
}

.btn{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 100px;
    height: 70px;
}