.login{
    display:flex;
    flex-direction: row;
}

.login div{
    padding: 10px;
}
.caja1{
   
}
.caja2{
    color:white;
    padding-left: 70px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: grey;
  color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 30px;
  background-position: middle left;
  background-repeat: no-repeat;
  text-indent: 20px;
}

img{
  
   width: 25%;
}
